/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }




html, body {
    margin: 0;
    color: #2b283a;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}

section > h2 {
    font-weight: 900;
    font-size: 2.4rem;
}

.entry {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.textContent {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.travelPix {
    height: auto;
    width: 20%;
    border-radius: 8px;
}



.cardHorizontal {
    display: flex;
   align-items: center;
   gap:10px;
}

.location {
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.locationHead {
    padding-bottom: 14px;
}

.linkMaps {
    color: #bfbec3;
}

.date {
    font-weight: bold;
}